# Copy this file to .env and fill in your real Supabase credentials.
# NEVER commit your real .env if it contains secrets.

EXPO_PUBLIC_SUPABASE_URL=https://lehautndkzaltartzezt.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlaGF1dG5ka3phbHRhcnR6ZXp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk1NzQ3MDEsImV4cCI6MjA3NTE1MDcwMX0.SwEZnuIkQfRP9PAbQqEDIvju5QskdeOL6HSNpCK0S7w
# Optional service role key (DO NOT bundle in client builds!)
# SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY
DB_PASSWORD=WordScape@2025

123062971669-bdc2mc5584la88jrmc51nk23n05972no.apps.googleusercontent.com

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

https://lehautndkzaltartzezt.supabase.co/auth/v1/callback